h1 {
  color: #9042D1;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 20px
}

ul {
  font-family: cursive;
  font-size: 20px;
  line-height: 30px;
}
